@import url(../../css/config.css);

.btn {
    font-family: var(--fuente-body);
    background-color: var(--color-primario);
    color: var(--texto-boton-primario);
    font-weight: 400;
    border: none;
}

.btn:hover {
    background-color: var(--color-secundario);
}


.boton-redondo {
    border-radius: 45%;
}