@import "../../css/config.css";

.partner {
    background-image: url(../../imagenes/partner.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - var(--navbar-height));
}

.partner .tonalidad {
    height: 100%;
    background-color: rgba(0, 0, 0, .40);
}
.partner img {
    max-width: 50%;
}

@media only screen and (min-width: 768px) {
    .partner img {
        max-width: 30%;
    }
}