:root {
  --body-font: 'Roboto', sans-serif;
  --titles-font: 'Poiret One', sans-serif;
}

body {
  margin: 0;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--titles-font);
}