@import url("../../css/config.css");

.home {
    margin-top: 8px;
    border: 1px solid white;
    height: calc(100vh - var(--navbar-height) - 8px);
    background-image: url("../../imagenes/home-autumn.jpg");
    background-size: cover;
    background-position: center bottom;
}

.home>.contenido {
    background-color: rgba(0,0,0,.4);
    height: calc(100vh - var(--navbar-height) - 8px);
}